# Database configuration
DB_USER="username"
DB_PASSWORD="password"
DB_HOST="localhost"
DB_PORT="5432"
DB_NAME="sport_easy"

# Better auth configuration
BETTER_AUTH_SECRET="your_secret_key"
BETTER_AUTH_URL="http://localhost:3000"

# Seed data configuration
SEED_USER_EMAIL="john@example.com"
SEED_USER_NAME="John"
SEED_USER_PASSWORD="Pa$$w0rd123"

# Public configuration
NEXT_PUBLIC_API_URL="http://localhost:3000/api"